:root {
  --main-bg-color: #fffff0;
  --main-color: #00CCCC;
}


@font-face {
  font-family: "Lobster";
  src: url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
}

@font-face {
  font-family: "Roboto";
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
}

html {
  height: 100%;
}

body {
  background-color: var(--main-bg-color);
  min-height: 100%;
  padding: 0px;
  margin: 0;
  /* border: 1px solid black;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #222; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  /* border: 1px solid black; */
  height: 100px;
  width: 100%;
  color: var(--main-color);
  /* padding-top: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-self: center; */
  align-items: flex-end;
}

.title {
  height: 50%;
  display: flex;
  align-self: center;
  font-size: 40px;
  font-family: 'Lobster', cursive;
}

.mainContent {
  /* border: 1px solid purple; */
  height: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  /* align-items: stretch; */
}

.tools {
  /* border: 1px solid red; */
  width: 260px;
  height: 500px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.button {
  height: 40px;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  color: var(--main-color);
  background-color: var(--main-bg-color);
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.button:focus,
.button:hover {
  color: var(--main-bg-color);
  background-color: var(--main-color);
  box-shadow: 0 1px 2px 0 #888888;
}

.sketchContainer {
  border: 2px solid var(--main-color);
  margin-left: 160px;
  width: 500px;
  height: 500px;;
  align-self: center;
}