:root {
  --main-bg-color: #FFFFF0;
  --main-color: #00CCCC;
}


@font-face {
  font-family: "Lobster";
  src: url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
}

@font-face {
  font-family: "Roboto";
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
}

html {
  height: 100%;
}

body {
  background-color: var(--main-bg-color);
  min-height: 100%;
  padding: 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 100px;
  width: 100%;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.title {
  height: 50%;
  display: flex;
  align-self: center;
  font-size: 40px;
  font-family: 'Lobster', cursive;
}

.mainContent {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.tools {
  width: 260px;
  height: 500px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.button {
  height: 40px;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  color: var(--main-color);
  background-color: var(--main-bg-color);
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.button:focus,
.button:hover {
  color: var(--main-bg-color);
  background-color: var(--main-color);
  box-shadow: 0 1px 2px 0 #888888;
}

.sketchContainer {
  border: 2px solid var(--main-color);
  margin-left: 160px;
  width: 500px;
  height: 500px;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.slidecontainer {
  width: 80%;
  height: 40px;
  margin-left: 10%; 
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* Slider for Firefox */

input[type="range"]::-moz-range-progress {
  -webkit-appeareance: none;
  background-color: var(--main-color); 
}

input[type="range"]::-moz-range-track {
  background-color: #c75403;
}

input[type="range"]::-moz-range-thumb {  
  -webkit-appeareance: none;
  background-color: var(--main-color);
}

/* Slider for Chrome */

input[type="range"] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: var(--main-color);
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--main-color);
  margin-top: -5px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #c75403;
}

/* Positioning of .sketchContainer for Chrome and Firefox*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .sketchContainer {
    margin-left: 220px; }
}
	
@-moz-document url-prefix() {
    .sketchContainer {
      margin-left: 170px;
    };
}